{% extends "base.html" %}
{% block content %}
<h2>Autentificare</h2>
<form method="post">
  <label>Email</label><br/>
  <input type="email" name="email"/><br/><br/>
  <label>Parolă</label><br/>
  <input name="password" type="password"/><br/><br/>
  <button type="submit">Conectare</button>
</form>

<p><a href="{{ url_for('forgot_password') }}">Ai uitat parola?</a></p>
<p>Nu ai cont? <a href="{{ url_for('register') }}">Înregistrează-te aici</a></p>
{% endblock %}Executing query: SELECT * FROM users WHERE email = ''
